/* phones, 600px ou menores */

@media only screen and (max-width: 600px) {
    .box__interno {
        display: block;
    }
    .box__externo__conteudo__header {
        justify-content: center;
    }
    .img__logo {
        width: 160px;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
    }
    .img__logo__footer {
        width: 80px;
        height: auto;
        margin-top: 5px;
        margin-left: 5px;
    }
    /*Formulario*/
    #formulario {
        display: block;
        height: auto;
        flex-wrap: wrap;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .formulario__textarea {
        max-width: 280px;
    }
    .formulario__campo {
        min-width: 100px;
        max-width: 280px;
        height: 35px;
    }
    /*historico profissional data*/
    .formulario__campo__menor {
        width: 72px;
        height: 35px;
    }
    .formulario__data {
        max-width: 165px;
        max-height: 35px;
    }
    .formulario__campo__option {
        width: 280px;
        font-size: 15px;
    }
    /* Para o campo nacionalidade*/
    .formulario__campo__menor3 {
        width: 195px;
        height: 35px;
    }
    .formulario__campo__menor2 {
        width: 75px;
        height: 35px;
    }
    .formulario__texto {
        margin: 9px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 14px;
        color: #041b91;
    }
    .formulario__texto__p {
        margin: 9px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 14px;
        color: #0d228b;
        font-weight: bold;
    }
    .teste {
        justify-content: center;
        width: 97%;
    }
    /*Titulos das categorias do formulario*/
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 11px;
        padding-bottom: 10px;
    }
}